h1,h2 {
    color: brown;
    margin: 30px;
    margin-bottom: 10px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: seashell;
}
.profile {
    width: 300px;
    border-radius: 10px;
}
.about-me {
    font-size: larger;
}

.row {
    padding: 30px;
    padding-top: 0px;
}

.project {
    height: 250px;
    width: 100%;
    display: block;
    
    padding: 20px;
    
    border-radius: 10px;
    position: relative;
}

.hidden {
    display: none;
    width: 100%;
}

.project:hover .hidden {
    display: inline;
}

.colour1 {
    background-color: darkslategray;
    color: antiquewhite;
}
.colour2 {
    background-color: slategray;
    color: antiquewhite;
}
.colour3 {
    background-color: midnightblue;
    color: antiquewhite;
}
.colour4 {
    background-color: dodgerblue;
    color: antiquewhite;
}
.colour5 {
    background-color: rebeccapurple;
    color: antiquewhite;
}
.colour6 {
    background-color: teal;
    color: antiquewhite;
}

.beginner{
    width: 25%;
    /* background-color: aqua; */
}

.intermediate{
    width:60%;
    /* background-color: yellowgreen; */
}

.expert {
    width: 100%;
    /* background-color: midnightblue; */
}
.level {
    padding: 20px;
    font-weight: bold;
}

.navbar {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: teal;
    display: block;

}
.navbar a {
    color: yellow;
    font-size: 20px;
    padding: 5px 10px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}

.navbar a:hover {
    background-color: cadetblue;
    border-radius: 10px;
}

.navbar a:active {
    background-color: cadetblue;
    color: aliceblue;
}

.input {
    padding-bottom: 10px;
}

#footer{
    margin-top: 20px;
    
    height:100px
}